<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cuan.plugincore">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <provider
            android:authorities="com.cuan.plugincore.servicemanager.ServiceManagerProvider"
            android:name=".servicemanager.ServiceManagerProvider"
            android:exported="false"
            android:process=":sm"/>
    </application>

</manifest>
